<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All animal</title>
</head>
<body>
    <h1>Animal List</h1>
    <ul>
        <% for (let animal of animals){ %>
            <li> <a href="/animal/<%= animal._id %>"><%= animal.name %></a></li>    
        <% } %>  
    </ul>
    <a href="/animal/new">Add Animal</a>
    <a href="/homepage">Back to Homepage</a>
</body>
</html>